
<div class="row">
<div class="col my-5 p-5">
    <div class=" h2 col-3 text-white pull-left">SafeWork Form
        <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
        <h6 class="h5 mb-3 wow fadeInRight text-light"  data-wow-delay="0.3s">Safework utility to collect shop floor
      details for in-house and outsource companies.Workflow utility for field engineer to enter data
      and supervisors to view,validate and approve the shop floor/job work details</h6>
    </div>
    <div class="col">
        <div class="card pull-right " style="background: #00000075; color: white;" >

        <!-- Card body -->
        <div class="card-body">

          <!-- Material form register -->
          <%= form_tag '/login' do %>
              <p class=" h3 text-center py-4 text-warning" ><i class="fas fa-sign-in-alt"></i> Sign up</p>



            <!-- Material input email -->
            <div class="md-form">
              <i class="fa fa-envelope prefix grey-text"></i>
              <%= text_field_tag :email, nil,{class: "form-control"} %>
              <%= label_tag "email", "", class: "font-weight-light text-right"%>
            </div>

            <!-- Material input password -->
            <div class="md-form">
              <i class="fa fa-lock prefix grey-text"></i>
              <%= label_tag "password", "", class: "font-weight-light"%>
              <%= password_field_tag :password, nil , {class: "form-control "}%>

            </div>
            <div class="row">
              <div class="col ml-5">
                <a href="#" class=" h6 text-white" >forgot password?</a>
              </div>
            </div>
          <div class="row">
            <div class="col py-4 mt-3 ml-5">
            <%= submit_tag "Login", {class: "btn btn-sm btn-warning btn-transition font-weight-bold"} %>
              <%= link_to "Signup" , signup_path, {class:"h5 ml-4"}%>
                </div>
          </div>

          <% end %>
          <!-- Material form register -->

        </div>
        <!-- Card body -->

      </div>
    </div>
</div>
  </div>


